.root {
    cell-color: ghostwhite;
    cell-border-color: white;
}

.base{
}

.game{
    -fx-background-color: cell-border-color;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.board{
    -fx-background-color: cell-color;
    -fx-hgap: 1;
    -fx-vgap: 1;
}

.sidebar{
    -fx-background-color: cell-color;
    -fx-vgap: 5;
}

.queue{
    -fx-hgap: 1;
    -fx-vgap: 1;
}

.button{
    -fx-background-color: cell-color;
}